.case-item {
    cursor: pointer;
}

.status-0,
.status-1,
.status-2,
.status-3,
.status-4,
.status-5,
.status-9,
.status-10 {
    margin: 3px;
}

.status-0 {
    border: 3px solid #696969;
    color: 696969
}

.status-1 {
    border: 3px solid #778899;
    color: #778899
}

.status-2 {
    border: 3px solid #4169E1;
    color: #4169E1
}

.status-3 {
    border: 3px solid #4682B4;
    color: #4682B4
}

.status-4 {
    border: 3px solid #008B8B;
    color: #008B8B
}

.status-5 {
    border: 3px solid #006400;
    color: #006400
}

.status-9, .status-10 {
    border: 3px solid #B22222;
    color: #B22222
}


#codeContent{
    width: 90%;
    height: 400px;
    display: block;
}

div.code {
    white-space: pre;
  }